*{
    margin: 0;
}

h1{
    text-align: center;
    font-family:cursive;
    color:rgb(0, 0, 0)
}
h2{
    font-family: cursive;
}

.info{
    display: flex;
    flex-direction: column;
    width: 20vw;
}

body{
    background-color: rgb(35, 76, 85);
    position: absolute;
    top:45%;
    left: 50%;
    transform: translate(-50%, -50%);
}

button{
    background-color:azure ;
}

.container{
    background-color: rgb(255, 255, 255);
    border-radius: 15px;
    padding:15px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 400px;
    height: 525px;
}
input {
    border: none;
    background:transparent;
    border-bottom: 1px solid black;
}

.caixinha{
    display: flex;
    justify-content: space-between;
}

#data{
    margin-top: 10px;
}

.malinha{
    display: flex;
    justify-content: space-between;
}
